NEXT_PUBLIC_CLUSTER=devnet
NEXT_PUBLIC_MOCK_TEE=true
NEXT_PUBLIC_PAYMENTS_TEST_USDC_MINT=8iJV1G1w7drmvxqFifssyLZf4fZe2TNTfjRXVUGvGJri
NEXT_PUBLIC_SOLANA_RPC_URL=https://rpc.magicblock.app/devnet
NEXT_PUBLIC_PAYMENTS_API_BASE_URL=http://localhost:8787
SOLANA_RPC_URL=https://rpc.magicblock.app/devnet